@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@section Scripts
{
    <script>
        function show(data) {

            return new Promise((resolve, reject) => {

                setTimeout(() => {
                    resolve(data);
                }, 1000)
            })
        }

                    (async () => {
                        let data = await show("A");
                        console.log(data);
                        data = await show("B");
                        console.log(data);
                        data = await show("C");
                        console.log(data);
                    })();
    </script>
}